{% extends "issbase.html" %}
{% load issues %}

{% block title %}{{ app_name }} - Add Multiple Issues{% endblock %}

{% block extrahead %}
    <style type="text/css" media="screen">
        #container { width: 950px; }
        #content { width: 1300px; }
        td.itemrow { border-bottom: 3px solid #ccc; }
        li { list-style-type: none; padding:5; margin:5; }
        .clear { clear: both; padding-bottom: 5px; }
        .module { width: 950px; }
        .help { font-size: 0.8em; }
        {% if bold_labels %}
            .fld-label { font-weight: bold !important }
        {% endif %}
    </style>
{% endblock %}

{% block content %}
<div class="main">
    <form action="" method="POST">{% csrf_token %}
    <div id="submit"><input id="submit-btn" type="submit" value="Save"></div>
    <div class="clear"></div>
        {{ formset.management_form }}

        <!-- FOR EACH FORM -->
        {% for form in formset %}
            <fieldset class="module aligned2">
                {{ form.id }}

                <!-- FOR EACH FIELD -->
                {% for name in form.fldorder %}

                        {% with form|get:name as fld %}
                            <div class="form-row">
                                <label class="fld-label {% if fld.field.required %} required {% endif %}">{{ fld.label }}
                                </label>
                                {{ fld }}

                                {% if name == "difficulty" %}
                                    <span class="help">(integer; higher value for higher difficulty)</span>
                                {% endif %}
                                {% if name == "progress" %}
                                    <span class="help">(percent complete, enter as a whole number without the % sign)</span>
                                {% endif %}

                                {% if name == "description" %}
                                    <table class="table1" border="0" cellpadding="2" cellspacing="2">
                                        <tr>
                                            <th>Status</th>
                                            <th>Owner</th>
                                            <th>Project</th>
                                        </tr>
                                        <tr>
                                            <td>{{ form.status }}</td>
                                            <td>
                                                {{ form.owner }}<br />
                                                CC: {{ form.cc }}
                                            </td>
                                            <td>{{ form.project_ }}</td>
                                        </tr>
                                    </table>

                                    <table class="table1" border="0" cellpadding="2" cellspacing="2">
                                        <tr>
                                            <th>Priority</th>
                                            <th>Version</th>
                                            <th>Type</th>
                                        </tr>
                                        <tr>
                                            <td>{{ form.priority_code }}</td>
                                            <td>{{ form.version }}</td>
                                            <td>{{ form.type }}</td>
                                        </tr>
                                    </table>
                                {% endif %}
                            </div>
                        {% endwith %}

                {% endfor %}

            </fieldset><br />
        {% endfor %}

        <div id="submit"><input id="submit-btn" type="submit" value="Save"></div>
    </form>
</div>
{% endblock %}
